<div class='sixteen columns'>
  <hr />
  <p>
    By <a href='https://twitter.com/yefim323'>Geoff</a>, <a href='https://twitter.com/MaxScheiber'>Max</a>, and <a href='https://twitter.com/LewisJEllis'>Lewis</a>
  </p>
</div>