<div id='header'>
  <% if !@user %>
    <div class='twelve columns'>
      <h1 class='logo'>Dropbox IDE</h1>
    </div>
    <div class='four columns'>
      <a href='<%= @authorize_url %>' class='full-width button'>Login with Dropbox</a>
    </div>
  <% else %>
    <div class='one-third column'>
      <h1 class='logo'>Dropbox IDE</h1>
    </div>
      <a href='/logout' class='logout button'>Logout</a>
  <% end %>
</div>
<hr class='half-bottom' />