<div class='two columns'>
  <h5>Folders</h5>
  <hr class='small' />
  <ul>
    <li>Project 1</li>
    <ul>
      <li>index.html</li>
      <li>css</li>
      <ul>
        <li>style.css</li>
      </ul>
      <li>js</li>
      <ul>
        <li>jquery.js</li>
      </ul>
    </ul>
  </ul>
</div>
<div id='editor' class='fourteen columns'>testing balls</div>