<div>
  <div class='two columns'>
    <div id='filebrowser'>
    </div>
  </div>
  <div id='editor' class='fourteen columns'><%= @current_file[:content] %></div>
</div>
<script type='text/javascript'>
  $('#editor').css('height', window.innerHeight-78);
  MODE = "<%= @editor %>";
  window.current_file = new DBIDE.Models.File(<%= @current_file.to_json %>);
  window.App = new DBIDE.Views.MainView({ projects: <%= @projects.to_json %> });
</script>
