<!DOCTYPE html>
<html>
  <head>
    <script src='/js/lib/jquery.js'></script>
    <script src='/js/lib/underscore.js'></script>
    <script src='/js/lib/backbone.js'></script>
    <title>DBIDE</title>
  </head>
  <body>
    <%= erb :header %>
    <div id='wrapper'>
      <%= yield %>
    </div>
    <%= erb :footer %>
  </body>
</html>
