<div class='one-third column'>
  <h3>Features</h3>
  <p>Dropbox IDE lets you work on your code anywhere, and it: </p>
  <ul class='disc'>
    <li>Kicks ass</li>
    <li>Takes names</li>
    <li>Pulls</li>
  </ul>
</div>
<div class='two-thirds column'>
  <img src='images/screenshot.png'>
</div>