<div class='one-third column'>
  <h3>Features</h3>
  <p>Dropbox IDE lets you work on your code anywhere. </p>
  <ul class='disc'>
    <li>Syntax Highlighting</li>
    <li>Workspace syncs to Dropbox</li>
    <li>Static hosting through your Dropbox</li>
    <li>Vim keybindings</li>
  </ul>
</div>
<div class='two-thirds column'>
  <img src='images/screenshot.png' class='screenshot'>
</div>
<hr />
<div class='sixteen columns'>
  <p>
    By <a href='https://twitter.com/yefim323'>Geoff</a>, <a href='https://twitter.com/MaxScheiber'>Max</a>, and <a href='https://twitter.com/LewisJEllis'>Lewis</a>
  </p>
</div>